*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
html{
    scroll-behavior: smooth;
}
body{
    background: black;
    color: white;
}
#header{
    width: 100%;
    height: 100vh;
    background-image: url("../assets/bg.jpg");
    background-size: cover;
    /* background-repeat: no-repeat; */
    background-position: center;
}
.container{
    padding: 20px 5%;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    
}
.logo{
    margin: 10px;
    width: 300px;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 20px;
}
nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    position: relative;
}
nav ul li a::after {
    content: '';
    width: 0;
    height: 3px;
    background: #1f7d2de7;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width: 100%;
}
.header-text{
    margin-top: 15%;
    font-size: 30px;
}
.header-text h1{
    margin-top: 20px;
    font-size: 80px;
    /* color: red; */
}
.header-text h1 span{
    margin-top: 20px;
    font-size: 80px;
    color: rgb(53, 152, 33);
}
#about{
    padding: 80px 0;
    /* color: #9debd3e7; */
}
.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.about-col-1{
    flex-basis: 35%;
}
.about-col-1 img{
    width: 100%;
    border-radius: 15px;
}
.about-col-2{
    flex-basis: 50%;
    margin: 20px ;
}
.sub-title{
    font-size: 50px;
    font-weight: 600;
    color: rgba(33, 141, 35, 0.872);
}
.pa{
    margin: 20px 0;
    font-size: larger;
    line-height: 30px;
}
.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}
.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #16701ce7;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}
.tab-links.active-link::after{
    width: 50%;
}
.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
}
.tab-contents ul li span{
    font-weight: bolder;
    font-size: larger;
    color: rgb(138, 53, 53);
}
.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display: block;
}
#services{
    padding: 30px 0;
}
.services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.services-list div{
    background: #262626;
    padding: 40px;
    font-size: 20px;
    font-weight: 300;
    border-right: 10px;
    transition: background 0.5s, transform 0.5s;
}
.services-list div i{
    font-size: 50px;
    margin-bottom: 30px;
}
.services-list div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}
.services-list div a{
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}
.services-list div:hover{
    background: rgb(24, 71, 15);
    transform: translateY(-15px);
    
}
#Projects{
    padding: 50px 0;
}
.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 30px;
    margin-top: 50px;
}
.work{
    position: relative;
    overflow: hidden;
}
.work img{
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.7s;
}
.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.6), rgb(24, 71, 15));
    position: absolute;
    /* border-radius: 10px; */
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    transition: height 0.5s;
}
.layer h3{
    font-weight: 500;
    margin: 8px 0;
    text-align: center;
}
.layer a{
    margin-top: 10px;
    color: rgb(250, 71, 6);
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    /* background: white; */
    width: 50px;
    height: 50px;

}
.work:hover img{
    transform: scale(1.1);
}
.work:hover .layer{
    height: 100%;
}
.btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid rgb(17, 88, 17);
    padding: 15px 50px;
    border-radius: 5px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    transition: background 0.9s;
}
.btn:hover{
    background: rgb(1, 255, 1);
    color: rgb(49, 50, 50);
}
.contact-l{
    flex-basis: 35%;
}
.contact-l p{
    margin-top: 30px;
    font-size: 20px;
    color: hsl(0, 0%, 48%);
}
.contact-l p i{
    color: rgb(36, 138, 36);
    margin-right: 10px;
    font-size: 20px;
}
.contact-r{
    flex-basis: 60%;
}
.socials{
    margin-top: 30px;
    
}
.socials a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #5e5e5e;
    display: inline-block;
    transition: transform 0.5s;
}
.socials a:hover{
    color: #fff;
    transform: translateY(-5px);
}
.btn.btn2{
    display: inline-block;
    background: rgb(14, 80, 14);
    /* color: #5e5e5e; */
}
.contact-r form{
    width: 100%;
    margin-top: 30px;
}
form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #222222;
    padding: 15px;
    margin: 10px 0;
    color: #fff;
    border-radius: 5px;
    font-size: 16px;
}
form .btn2{
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}
.copyright{
    width: 100%;
    text-align: center;
    padding: 20px 0;
    margin: 5px;
    /* background: #181818; */
}
hr{
    margin: 10px 100px;
    border: 0;
    outline: 0;
    border: 1px solid #444444;
}

nav .fa{
    display: none;
}
@media only screen and (max-width: 600px) {
    #header{
        background-image: url('../assets/bg_phone.jpg');
    }
    .header-text{
        margin-top: 100%;
        font-size: small;
    }
    .header-text h1{
        font-size: 30px;
    }
    /* .logo{
        display: none;
    } */
    nav .fa-solid{
        display: block;
        font-size: 25px;
    }
    nav ul{
        background: rgb(27, 85, 27);
        position: fixed;
        top: 0;
        right:-200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
    }
    nav ul li{
        display: block;
        margin: 30px;  
    }
    nav ul .fa-solid{
        position: absolute;
        top: 30px;
        left: 30px;
        cursor: pointer;
    }
    .sub-title{
        font-size: 40px;
    }
    .about-col-1, .about-col-2{
        flex-basis: 100%;
        margin: 30px;
    }
    .about-col-2{
        font-size: 14px;
    }
    .tab-links{
        font-size: 16px;
        margin-right: 20px;
    }
    .contact-l, .contact-r{
        flex-basis: 100%;
    }
    hr{
        flex-basis: 100%;
    }
    .copyright{
        font-size: 13px;
    }
}
#msg{
    color: #1da22b;
    margin-top: -40px;
    display: block;
}


